In [1]:
nome = "deep dive python"

print(nome[0:5])

deep

In [20]:
nomes = ['wise', 'lerisse', 'halima']

hex(id(nomes))

'0x29cf9f6a880'

In [22]:
nomes.append('tiago')
print(nomes)
hex(id(nomes))

['wise', 'lerisse', 'halima', 'tiago', 'tiago']

'0x29cf9f6a880'

In [14]:
nome_tupla = ('wise', 'lerisse', 'halima')
hex(id(nome_tupla))

'0x29cf9fa1040'

In [23]:
nome_tupla = nome_tupla + ('tiago',)
print(nome_tupla)
hex(id(nome_tupla))

('wise', 'lerisse', 'halima', 'tiago', 'tiago')

'0x29cf9f2fce0'

In [17]:
tuplas = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
hex(id(tuplas))

'0x29cf9f7f980'

In [19]:
tuplas[0].append(100)
print(tuplas)
hex(id(tuplas))

([1, 2, 3, 100, 100], [4, 5, 6], [7, 8, 9])

'0x29cf9f7f980'

In [25]:

def temp():
   
    squares = []  # create an empty list
    for i in range(1, 10):
        squares.append(i**2)
    return squares

    # print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
squares = [i**2 for i in range(1, 10)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
import dis

compiled_code = compile("[i**2 for i in (1, 2, 3)]", filename="string", mode="eval")
compiled_code

In [33]:

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [37]:
table = []
for i in range(1, 11):
    row = []
    for j in range(1, 11):
        
        row.append(i * j)
    table.append(row)


table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [35]:
table2 = [
    
    [i * j for j in range(1, 11)] 
          
          for i in range(1, 11)]


table2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [39]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']
result = []
for s1 in l1:
    for s2 in l2:
        result.append(s1+s2)


result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [ ]:
# __getitem__ = lambda x, y: x[y]

In [41]:
result = [s1 + s2 for s1 in l1 for s2 in l2]

result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [42]:
result = []
for s1 in l1:
    for s2 in l2:
        if s1 != s2:
            result.append(s1 + s2)
        

result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [43]:
result = [s1 + s2 for s1 in l1 for s2 in l2 if s1 != s2]
result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [47]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
iterator_da_lista = iter(lista) 

for i in iterator_da_lista:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in lista:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in lista:
    print(i)

1
2
3
4
5
6
7
8
9
10